<div class="row" id="coffee-slider">
  <section class="container" id="flowplayer" >
    <span>.</span>
          <!-- player skin -->
          <div class="flowplayer">
            <video>
               <!-- <source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm"/> -->
               <source type="video/webm" src="/assets/CoffeeTailorMP4.webm"/>
               <source type="video/mp4" src="/assets/CoffeeTailorMP4.mp4"/>
               <source type="video/ogv" src="/assets/CoffeeTailorMP4.ogv"/>
            </video>
          </div>
    <span>.</span>
  </section>
  <style>
    #wrapper{margin-bottom:0;}
    #coffee-slider .container{margin-bottom:0;}
    #coffee-nav{margin-bottom: 0;}
  </style>
</div>

<section class="container">
  <fieldset class="what-they-say-about-us" id="why-chose-us">
    <legend align="center"><span title="Why choose coffee tailors"><span style="color:#922635;">4 VERY GOOD REASONS</span> TO CHOOSE COFFEE TAILOR</span></legend>

    <article class="columns four">
      <h4>We taste the coffee for you</h4>
      <p>Sit back and relax. We know how costly, difficult and time consuming it can be to find good coffee. So the coffee tailors come to save the day and do all the work for you.
      </p>
      <p style="text-align:center "><strong><a href="#">Read more</a></strong><br><%= image_tag 'coffee-tailors-cup.png'%></p>
    </article>

    <article class="columns four">
      <h4>The choice is always yours</h4>
      <p>We offer two different subscription plans, the “coffee noob” and “coffee lover”. In addition you can choose if you want 250g or 400g and your preferred grind.
      </p>
      <p style="text-align:center "><strong><a href="#">Read more</a></strong><br><%= image_tag 'coffee-tailors-cup.png'%></p>
    </article>

    <article class="columns four">
      <h4>Delivered to your doorstep for free</h4>
      <p>We want your coffee journey to be an easy ride; so, you only pay for what is in the description. The delivery is on us.
      </p>
      <p style="text-align:center "><strong><a href="#">Read more</a></strong><br><%= image_tag 'coffee-tailors-cup.png'%></p>
    </article>

    <article class="columns four">
      <h4>We promise to bring you an amazing coffee experience</h4>
      <p>Our mission is to create an unique and simple experience for you. Hence, we deliver your selected subscription plan for free to wherever you are (in the UK).
      </p>
      <p style="text-align:center "><strong><a href="#">Read more</a></strong><br><%= image_tag 'coffee-tailors-cup.png'%></p>
    </article>

  </fieldset>
</section>
<div class="row">
<section class="container">
    <article style="text-align:center;">
      <h4 style="font-size:2em;">If you are as passionate about coffee as us, then you will love what we do.</h4>
      <p style="font-size:2em;line-height:1;">Coffee tailor created a new way to appreciate coffee that has never existed in the UK before. With high focus on quality, coffee tailor sets out to deliver an amazing coffee experience every month.
      </p>
    </article>

    <hr>

    <article style="text-align:center;width:550px;margin-right:auto;margin-left:auto;">
      <h1 style="font-size:2.5em;">NOW LET’S GET TO THE GOOD STUFF AND <span style="color:rgb(146, 38, 53);">GET YOU SOME COFFEE!</span></h1>
      <button><%= link_to 'Subscribe now', spree.root_path, title: 'Subscribe now', class: 'btn' %></buttong>
    </article>

  </fieldset>
</section>
</div>
