<div class="row" id="coffee-slider">
	<section class="container">
		<span>.</span>
		<%= link_to image_tag( "coffee-tailors-slider.png", alt: "sliding coffee", width: "100%"), '#', title: 'Where will your coffee take you' %>
		<span>.</span>
	</section>
	<style>
		#wrapper{margin-bottom:0;}
		#coffee-slider .container{margin-bottom:0;}
		#coffee-nav{margin-bottom: 0;}
	</style>
</div>

<div class="row" id="coffee-subscription-steps">
	<section class="container">
		<article class="columns four">
			<h2 class="step-title" title="Step One">1</h2>
			<p class="step-explanation">Choose a subscription plan</p>
		</article>

		<article class="columns four">
			<h2 class="step-title" title="Step Two">2</h2>
			<p class="step-explanation">Select your grind</p>
		</article>

		<article class="columns four">
			<h2 class="step-title" title="Step Three">3</h2>
			<p class="step-explanation">Wait for your delivery</p>
		</article>

		<article class="columns four">
			<p class="step-subscribe" title="Subscribe now"><a href="/store"><span>SUBSCRIBE NOW!</span></a></p>
		</article>
	</section>
</div>

<!-- Blog and Instagram feed -->
<div class="container">
	<article class="columns eight" id="blog-feed">
		<div class="feed">
			<h1 title="Blog feed">BLOG</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ..Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
			<p style="text-align:center;"> <% 3.times { %><%= image_tag 'coffee-tailors-cup.png'%> <% } %> </p>
			<p style="text-align:center;"><%= link_to image_tag('coffee-tailors-readmore.png'), '#' %> </p>
		</div>
	</article>

	<article class="columns eight" id="instagram-feed">
		<div class="feed">
			<h1 title="Instagram feed">LATEST INSTAGRAM</h1>
			<p style="text-align: center;">
			<span>
				<%= link_to image_tag('coffee-tailors-instagram.png', alt: 'coffee tailors instagram profile'), 'http://instagram.com/coffee_tailor', title: 'coffee tailors instagram profile' %>
			</span>
			<span class="social-media" >
				<%= link_to image_tag("instagram.png", alt: "Coffee Tailors Instagram Profile", size: "30px", class: "social-media-icon"), "https://instagram.com/coffee_tailor", title: 'Coffee Tailors Instagram Profile' %>
				<%= link_to image_tag("googleplus.png", alt: "Coffee Tailors Google Plus Profile", size: "30px", class: "social-media-icon"), 'https://plus.google.com/', title: 'coffee tailors Google Plus profile' %>
				<%= link_to image_tag("twitter.png", alt: "Coffee Tailors Twitter Profile", size: "30px", class: "social-media-icon"), 'https://twitter.com/coffee_tailor', title: 'coffee tailors instagram profile' %>
				<%= link_to image_tag("facebook.png", alt: "Coffee Tailors Facebook Profile", size: "30px", class: "social-media-icon"), 'https://facebook.com/coffee_tailor', title: 'coffee Facebook instagram profile' %>
				<%= link_to image_tag("youtube.png", alt: "Coffee Tailors YouTube Profile", size: "30px", class: "social-media-icon"), 'https://youtube.com/coffee_tailor', title: 'coffee tailors YouTube profile' %>
			</span>
		</p>
		</div>
	</article>
</div>


<section class="container">
	<fieldset class="what-they-say-about-us" class="">
		<legend align="center"><span title="Featured coffee roasters">WHAT THEY SAY ABOUT US!</span></legend>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

	</fieldset>

	<fieldset class="what-they-say-about-us" class="">
		<legend align="center"><span title="Featured coffee roasters">PARTNER WITH US!</span></legend>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

		<article class="columns four">
			<p>The quality of your materials is excellent, from a customer service point of view this has been fantastic throughout! The help and advice you gave me great and i will have no hesitation.
			</p>
			<p><strong><em>&mdash; Miss Shook Liu</em></strong></p>
		</article>

	</fieldset>
</section>