<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>

	<section class="column four">
  		<h4>Coffee</h4>
		<p><%= link_to "Coffee Subscription", '/store' %></p>
		<p><%= link_to "Featured Coffee Roasters", '/coffee-roasters' %></p>
  	</section>
	<section class="column four">
  		<h4>Tailors</h4>
		<p><%= link_to "About us", '/about-us' %></p>
		<p><%= link_to "Tips on coffee", '/coffee-tips' %></p>
		<p><%= link_to "Blog", '/blog' %></p>
  	</section>

  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
  	<section class="column eight">
  		<h4>Support</h4>
		  <p><%= link_to "FAQ", '/faq' %></p>
		  <p><%= link_to "How it works", '/how-it-works' %></p>
		  <p><%= link_to "Contact", '/contact-us' %></p>
		  <p><%= link_to "Terms", '/terms-and-conditions' %></p>
		  <p><%= link_to "Privacy", '/privacy' %></p>
  	</section>
	<section class="column eight">
  		<h4>Spread the word</h4>
		<p><%= link_to "Like us on Facebook", 'http://www.facebook.com/coffee.tailors' %></p>
		<p><%= link_to "Follow us on Twitter", 'http://www.twitter.com/coffeetailors' %></p>
		<p><%= link_to "Follow us on Instagram", 'http://www.instagram.com/coffeetailors' %></p>
    <p><%= t :built_by  %> <%= link_to 'Safarista Design', 'http://safarista.com' %></p>
    <p class="clearfix"><%= t :copyright  %> <%= link_to raw('&copy 2013 Coffee Tailors'), '/' %></p>
  	</section>
  </div>
</footer>
