<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>

	<section class="column four">
  		<h4>Coffee</h4>
		<p><%= link_to "Coffee Subscription", '/store' %></p>
    <p><%= link_to "Tips on coffee", '/store/coffee-tips', title: "Tips on coffee" %></p>
    <p><%= link_to "Your Cart", '/store/cart', title: "Cart" %></p>
    <p class="clearfix"><%= t :copyright  %> <%= link_to raw('&copy 2013 Coffee Tailors'), '/' %></p>
		<!-- <p><%= link_to "Featured Coffee Roasters", '/store/coffee-roasters' %></p> -->
  	</section>
	<section class="column four">
  		<h4>Tailors</h4>
		<p><%= link_to "About us", '/about_us', title: "About us" %></p>
    <p><%= link_to "Partner with us", '/store/partner-with_us', title: "Partner with us" %></p>
    <% if signed_in? %>
      <p><%= link_to "My Account", '/account', title: "My Account" %></p>
    <% else %>
      <p><%= link_to "Sign up", '/store/signup', title: "Sign up" %></p>
      <p><%= link_to "Login", '/store/login', title: "Login" %></p>
    <% end -%>
	</section>

  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
  	<section class="column eight">
  		<h4>Support</h4>
		  <p><%= link_to "FAQ", '/store/faq', title: 'Frequently asked questions' %></p>
		  <p><%= link_to "How it works", '/store/how-it-works' %></p>
		  <p><%= link_to "Contact", '/store/contact-us', title: 'Contact us' %></p>
		  <p><%= link_to "Terms and conditions", '/store/terms-and-conditions', title: 'Terms and conditions' %></p>
		  <p><%= link_to "Privacy", '/store/privacy', title: 'Privacy' %></p>
  	</section>
	<section class="column eight">
  		<h4>Spread the word</h4>
		<p><%= link_to "Like us on Facebook", 'http://www.facebook.com/coffee.tailors' %></p>
		<p><%= link_to "Follow us on Twitter", 'http://www.twitter.com/coffeetailors' %></p>
		<p><%= link_to "Follow us on Instagram", 'http://www.instagram.com/coffeetailors' %></p>
    <p><%= t :designed_by  %> <%= link_to 'Safarista Design', 'http://safarista.com' %></p>
  	</section>
  </div>
</footer>
