<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    <link rel="stylesheet" type="text/css"
      href="http://releases.flowplayer.org/5.4.0/skin/minimalist.css" />
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render :partial => 'spree/shared/header' %>

    <%= yield %>

	 <section id="coffee-footer" class="row">
      	<div class="container"><%= render :partial => 'spree/shared/footer' %></div>
    </section>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <!-- flowplayer depends on jQuery 1.7.1+ -->
    <!-- flowplayer javascript component -->
    <script src="http://releases.flowplayer.org/5.4.0/flowplayer.min.js"></script>
  </body>
</html>